

.content{
    margin:20px;
}
.content > h1{
        display:flex;
    justify-content: center;
}
.comp-elem > img{
    max-height:150px;
}
.compet{
    display:flex;
    justify-content: space-around;
}
.members{

  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
      
img, .member{
    max-width:280px;    
    
}
img{
    margin-top:19px;
    max-height:280px;
}
.member{
    margin-left:100px;
}
.a{
  font-weight:1000;
font-size: x-large;
      margin-top:5px;
}
.c{
  font-size: x-small;
    margin-top:7px;
}
#send1 {
 border:2px inset black;
 background:none;	 
 width:350px;
 height:100px;
 margin: auto;
 color: orange;
font-weight:1000;
}
#send1:hover {
transition: .2s;
 background: blue;
}
