	#flexible-page{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

#flexible-page body{
	
		background: #800080;
}

			
		}
		.str1{
			background: #FF0000;
		}
		.str3{
			background:#00FF00;
		}
		.str2{
			background: #00FFFF;
		}
	header{
		width: 100%;
		
		}
			footer{
		width: 100%;
				background: #00FFFF;
		}

.obtek{
	float:left;
	padding:25px;
	margin: 5px 5px 5px 5px;
		}
		.name{
			font-size:60px;
		}
		 	
