#flexible-page{
	display: flex;
	flex-direction:column;

}
.grad1 {
height: 200px;
background: linear-gradient(45deg, #0000FF,#6A5ACD,#00FFFF);
}
	

#flexible-page .table1{
	order:0;
}
#flexible-page .form1{
	order:1;
}

#flexible-page body{
		width: 100%;
					
}
@media (max-width:700px){
	#flexible-page .table1{
	order:1;
}
#flexible-page .form1{
	order:0;
}
}
		.str1{
			background: #FF0000;
		}
		.str3{
			background:#00FF00;
		}
		.str2{
			background: #00FFFF;
		}
	header{
		width: 100%;
		
		}
			footer{
		width: 100%;
				background: #00FFFF;
				order:3;
		}
button{
	order:4;
}
.obtek{
	float:left;
	padding:25px;
	margin: 5px 5px 5px 5px;
		}
		.name{
			font-size:60px;
		}
		 	
