		.obtek{
			float:left;
			margin: 5px 5px 5px 5px;
		}
		.str1{
			background: #FF0000;
		}
		.str3{
			background:#00FF00;
		}
		.str2{
			background: #00FFFF;
		}
	header{
		width: 100%;
		
		}
			footer{
		width: 100%;
				background: #00FFFF;
		}
.rd{
	color: #FF0000;
}
.obtek{
	float:left;
	padding:25px;
		}
		.name{
			font-size:60px;
		}
		.menu{
			font-size:20px;
			list-style: none;
}
	
