body {
  background: #3498db;
  color: #fff;
}
.content {
  display: flex;
  
	flex-direction:column;
  margin: auto;

  width: 500px;
  box-sizing: border-box;
}
h3, h5{
  background: #fff;
  color: #3498db;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}
